div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later */
    background-color: teal;
}

.first-bar{
  display: inline-block;
  width: 20px;height: 75px; 
  background-color: teal;


.chart div{
 font: 10px sans-serif;
 background-color: steelblue;
 text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
